// command to install dev dependencies
// npm install -D rimraf eslint prettier babel-eslint eslint-plugin-react eslint-plugin-jsx-a11y eslint-plugin-jsx-a11y eslint-plugin-import eslint-config-prettier eslint-config-airbnb

{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": [0],
    "react/no-array-index-key": [0]
  }
}
